$padding-1: 0.25rem; // 4px
$padding-2: $padding-1 * 2; // 8px
$padding-3: $padding-1 * 4; // 16px
$padding-4: $padding-1 * 6; // 24px
$padding-5: $padding-1 * 8; // 32px
$padding-6: $padding-1 * 10; // 40px
$padding-7: $padding-1 * 12; // 48px
$padding-8: $padding-1 * 14; // 56px
$padding-9: $padding-1 * 16; // 64px
$padding-10: $padding-1 * 20; // 80px
