@use "./colors" as *;
@use "./mixins" as *;

// Font Size, Font Weight and Line Height
h1,
.page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include medium {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2,
.subheader {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include medium {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3,
.button,
.label,
.link {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4,
.table-header {
  color: $secondary-slate;
  font-size: 0.6875rem;
  line-height: 16x;
  text-transform: uppercase;

  @include medium {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
.page-header,
.subheader,
.button,
.label,
.link {
  font-weight: 600;
}

.body-large,
.p1 {
  font-size: 0.9375rem;
  line-height: 1.625rem;

  @include medium {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.body-medium,
.p2 {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include medium {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.body-small,
.p3 {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include medium {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
