li{
list-style: none;
}


.inventory{
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-search{
            display: flex;
            justify-content: space-around;
            align-items: center;

            position: relative;
        }
    }


    &__sort{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-li{
            display: flex;
        }
    }
}