@use "./../../styles/partials/colors" as *;
@use "./../../styles/partials/padding" as *;
@use "./../../styles/partials/type-kit";

.add-new-warehouse {
  &__page-header {
    @extend .page-header;

    border-bottom: $secondary-cloud 0.0625rem solid;
    padding: $padding-5 $padding-4 $padding-4;
  }
}

.add-new-warehouse-form {
  &__section {
    display: flex;
    flex-direction: column;
    gap: $padding-3;
    padding: 0 $padding-4;
  }

  &__header {
    @extend .subheader;

    padding: $padding-3 0 $padding-2;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: $padding-1;
  }

  &__label {
    @extend .label;
  }
}
