@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_colors";
@use "../../styles/partials/_layout-grid";

.header {
  background-color: colors.$background-graphite;
  height: 12.75rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 2rem;
  @include medium {
    display: flex;
    height: 11.625rem;
    padding-top: 0;
  }
  @include large {
    padding-top: 0;
    height: 11.625rem;
  }
  &__logo {
    display: flex;
    justify-content: center;
    @include medium {
      margin-top: 2.4rem;
    }
  }
  &__subcontainer {
    padding: 0 1rem;
    @include medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }
    @include large {
      padding: 0 8.125rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    @include medium {
      margin-top: 2.45rem;
      width: 13.813rem;
    }
  }

  &__list-item {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    font-weight: bold;
    color: colors.$secondary-cloud;
  }

  &__list-item--active {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 1.25rem;
    font-weight: bold;
  }

  &__list-item--active {
    background-color: colors.$primary-instock-black;
  }
}

.link {
  color: colors.$primary-instock-indigo;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: colors.$primary-white;
}
