@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_colors";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$background-light-gray;

  &__text {
    color: colors.$secondary-slate;
    margin: 2.5rem 0;
    font-size: 0.7rem;
    @include medium {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }

    @include large {
      margin: 3rem 0;
    }
  }
}
