@use "./../../styles/partials/colors" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/padding" as *;
@use "./../../styles/partials/type-kit";

input,
select,
textarea {
    outline: 0;
}

h1,
h2 {
    margin: 0;
}

.add-inventory {
    &__page-header {
        @extend .page-header;

        align-items: end;
        border-bottom: $secondary-cloud 0.0625rem solid;
        display: flex;
        gap: $padding-2;
        padding: $padding-5 $padding-4 $padding-4;

        @include medium {
            align-items: center;
            margin-bottom: $padding-4;
            padding-left: $padding-5;
            padding-right: $padding-5;
        }

        @include large {
            padding-left: $padding-6;
            padding-right: $padding-6;
        }
    }

    &__page-header-icon {
        margin-bottom: $padding-1;

        @include medium {
            margin-bottom: 0;
        }
    }
}

.add-inventory-form {
    @include medium {
        display: flex;

        @include medium {
            flex-wrap: wrap;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: $padding-3;
        padding: 0 $padding-4;

        @include medium {
            padding-left: $padding-5;
            padding-right: $padding-5;
        }

        @include large {
            padding-left: $padding-6;
            padding-right: $padding-6;
        }

        &--warehouse-details {
            @include medium {
                flex-grow: 1;
                padding-bottom: $padding-2;
            }
        }

        &--contact-details {
            border-top: $secondary-cloud 1px solid;
            margin-top: $padding-4;
            padding-bottom: $padding-4;

            @include medium {
                border-left: $secondary-cloud 1px solid;
                border-top: 0;
                flex-grow: 1;
                margin-top: 0;
                padding-bottom: $padding-2;
            }
        }

        &--buttons {
            background-color: $background-light-gray;
            flex-direction: row;
            padding-bottom: $padding-3;
            padding-top: $padding-3;

            @include medium {
                justify-content: end;
                margin-top: $padding-4;
                width: 100%;
            }
        }
    }

    &__header {
        @extend .subheader;

        padding: $padding-3 0 $padding-2;

        @include medium {
            padding-top: 0;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: $padding-1;
    }

    &__label {
        @extend .label;
    }

    &__input,
    &__select,
    &__textarea {
        border: $secondary-cloud 0.0625rem solid;
        border-radius: 1.25rem;
        height: 2.25rem;
        padding: 0 $padding-3;

        &:focus {
            border-color: $primary-instock-indigo;
        }

        &--error {
            border-color: $supporting-red;
        }
    }

    &__select {
        appearance: none;
        background-image: url("./../../assets/icons/arrow_drop_down-24px.svg");
        background-position: right $padding-3 center;
        background-repeat: no-repeat;
    }

    &__textarea {
        display: block;
        font-family: "Titillium Web", sans-serif;
        height: 7.5rem;
        padding: $padding-2 $padding-3;
        resize: none;
    }

    &__radio-container {
        display: flex;
    }

    &__radio {
        display: flex;
        flex-grow: 1;
        gap: $padding-1;
    }

    &__button {
        @extend .button;

        border-radius: 1.25rem;
        border-style: solid;
        border-width: 0.0625rem;
        cursor: pointer;
        flex-grow: 1;
        height: 2.25rem;
        padding: 0 $padding-3;
        width: 100%;

        @include medium {
            flex-grow: 0;
            width: auto;
        }

        &--secondary {
            background-color: $primary-white;
            border-color: $secondary-cloud;
            color: $secondary-slate;

            &:hover {
                border-color: $primary-instock-indigo;
                color: $primary-instock-indigo;
            }
        }

        &--primary {
            background-color: $primary-instock-indigo;
            border-color: $primary-instock-indigo;
            color: $primary-white;

            &:hover {
                background-color: $primary-instock-black;
                border-color: $primary-instock-black;
            }
        }
    }
}
